.fa-info-circle {
    font-size: 1.4rem;
}
.info-container {
    position: relative;
    width: 100%;
    z-index: 5;
}
.hovering-info {
    left: 0;
    top: 0;
    border: 1px solid;
}
.tag-autocomplete div.col-12 {
    min-height: 0;
}
.selected-label {
    margin: 0;
}
.selected-check:not(:checked) + .selected-label {
    display: none!important;
}
.selected,
.autocomplete {
    display: flex;
    flex-wrap: wrap;
}
html:not(.noJavaScript) .autocomplete .startHidden {
    display: none!important;
}