/* Regular colors */
/* Background */
.message,
#general-suggestion ~ div#type-div > div > #general-suggestion-label,
#site-suggestion ~ div#type-div > div > #site-suggestion-label,
.bgc-white {
    background-color: white;
}

#advanced-search .expand-label,
.bgc-white.active {
    color: white;
}

.db-disabled .red .fa-times,
.db-defective .red .fa-times,
#welcome .content .bgc-white {
    background-color: #fafbfb;
}

.bgc-grey {
    background-color: #e6e6e6;
}

.bgc-darkgrey {
    background-color: #417ccb;
}

input.db-filter-disabled-hide:checked ~ div label.db-filter-disabled-hide,
input.db-filter-defective-hide:checked ~ div label.db-filter-defective-hide,
input.db-filter-enabled-hide:checked ~ div label.db-filter-enabled-hide,
.delete-label + .expand,
.db-disabled,
.db-defective,
.fail {
    background-color: red;
}

label.db-filter-disabled-hide,
label.db-filter-defective-hide,
label.db-filter-enabled-hide,
.succes {
    background-color: green;
}

.info {
    background-color: blue;
}

#mobileMenuSidebarCover {
    background-color: #4c9dc5;
}

.loading::before,
#mobileMenu {
    background-color: rgba(0, 0, 0, 0.5);
}

*:not(.required) > .button:not(.inactive):hover::before,
.required > .button:not(.inactive):hover::after {
    background: rgba(0, 0, 0, 0.1);
}

/* Text */
.selected:checked + .sel-white,
.selected.sel-white,
.hover-white:hover,
.expand-label {
    color: white;
}

.tip,
.message {
    color: #94cd22;
}
.error,
.invalid,
.db-unhealthy:not(.db-disabled)::before {
    color: red;
}
.black {
    color: black;
}

.white {
    color: white;
}

.red {
    color: red;
}


/* Borders */
.bc-grey,
.button {
    border-color: grey;
}

.bc-black,
.button:not(.inactive):hover {
    border-color: black;
}

a.menuOption.white:hover {
    color: white;
    border-bottom: 1px solid white;
}

.mouseover-msg,
.menuOption {
    border-color: black;
}
.loading::after {
    border-color: #f3f3f3;
    border-top-color: #3498db;
}

/* Commonly overwritten */
/* Background */
.legal-grazer-page .faceting-label {
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#94cd22)) !important;
}
.selected:checked + .sel-bgc-light-primary,
.sel-bgc-light-primary.selected,
.bgc-white.active,
button.bgc-light-primary,
.search-button-container > button,
.item-check:checked + .item-label,
.item-check:checked + .item-label + .item-label,
.bgc-light-primary {
    background-color: #5ba4ee;
}

.selected:checked + .sel-bgc-dark-primary,
.sel-bgc-dark-primary.selected,
.bgc-dark-primary {
    background-color: rgb(62, 149, 204);
}

.search-button-container > button {
    background-image: url(../img/IconImages/icon-button-graas.svg);
    background: url(../img/IconImages/icon-button-graas.svg), linear-gradient(#2ab3d3, #3c74cb);
    background-position: right top;
    background-repeat: no-repeat;
}

/* Text */
#general-suggestion:not(:checked) ~ div#type-div > div > #general-suggestion-label,
#site-suggestion:not(:checked) ~ div#type-div > div > #site-suggestion-label,
.inactive.inactive-light-primary,
.light-primary {
    color: #94c130;
}

.expand-check:checked + .expand-label:not(.bgc-dark-primary),
.expand-check:checked + .expand-label + .expand-label:not(.bgc-dark-primary),
.dark-primary {
    color: rgb(107, 156, 52);
}

.article {
    background-color: #37bee7;
}

/* Overwrites */
/* Background */
.legal-grazer-page .faceting-label {
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#82b4e2)) !important;
}
.legal-grazer-page #general-suggestion:checked ~ div#type-div > div > #general-suggestion-label,
.legal-grazer-page #site-suggestion:checked ~ div#type-div > div > #site-suggestion-label,
.legal-grazer-page .selected:checked + .sel-bgc-light-primary,
.legal-grazer-page .sel-bgc-light-primary.selected,
.legal-grazer-page .bgc-white.active,
.legal-grazer-page button.bgc-light-primary,
.legal-grazer-page a.bgc-light-primary,
.legal-grazer-page .search-button-container > button,
.legal-grazer-page .item-check:checked + .item-label {
    background-color: #82b4e2;
}

.legal-grazer-page .item-check:checked + .item-label + .item-label {
    background-color: #4c7f9e;
}
.legal-grazer-page .bgc-halflight-primary {
    background-color: #84b5df;
}
.legal-grazer-page .bgc-light-primary {
    background-color: #c3dbf0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.legal-grazer-page #articles .content .bgc-light-primary { color: #4c7f9e; }

.legal-grazer-page .selected:checked + .sel-bgc-dark-primary,
.legal-grazer-page .sel-bgc-dark-primary.selected,
.legal-grazer-page .bgc-dark-primary {
    /* background-color: rgb(44, 91, 139); */
    background-color: #4c7f9e;
}

.legal-grazer-page .search-button-container > button {
    background: 0;
    background-color: #82b4e2;
    background-position: right top;
    background-repeat: no-repeat;
}

/* Text */
.legal-grazer-page .tip,
.legal-grazer-page .message,
.legal-grazer-page #general-suggestion:not(:checked) ~ div#type-div > div > #general-suggestion-label,
.legal-grazer-page #site-suggestion:not(:checked) ~ div#type-div > div > #site-suggestion-label,
.legal-grazer-page .inactive.inactive-light-primary,
.legal-grazer-page .light-primary {
    color: #82b4e2;
}
.legal-grazer-page .error,
.legal-grazer-page .invalid,
.legal-grazer-page .db-unhealthy:not(.db-disabled)::before,
.legal-grazer-page .red {
    color: #e21f1f;
}

.legal-grazer-page .expand-check:checked + .expand-label:not(.bgc-dark-primary),
.legal-grazer-page .expand-check:checked + .expand-label + .expand-label:not(.bgc-dark-primary),
.legal-grazer-page .dark-primary {
    color: rgb(44, 91, 139);
}

.legal-grazer-page .article {
    /* background-color: #3586d8; */
    background-color: #84b5df;
}



.legal-grazer-page input.db-filter-disabled-hide:checked ~ div label.db-filter-disabled-hide,
.legal-grazer-page input.db-filter-defective-hide:checked ~ div label.db-filter-defective-hide,
.legal-grazer-page input.db-filter-enabled-hide:checked ~ div label.db-filter-enabled-hide,
.legal-grazer-page .delete-label + .expand,
.legal-grazer-page .db-disabled,
.legal-grazer-page .db-defective,
.legal-grazer-page .fail {
    background-color: #e21f1f;
}

.legal-grazer-page .bgc-light-primary .mouseover.tip::after {
    color: white;
}