#contactform > div > textarea {
    min-height: 12em;
    width: 100%;
}
#contactform > div > input {
    width: 50%;
}
#general-suggestion:checked ~ div#type-div + div {
    display: none;
}

#general-suggestion-label,
#site-suggestion-label {
    display: flex;
    justify-content: center;
    align-items: center;
}