* {
    margin: 0;
    max-width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif;

    /* smart word break, from https://stackoverflow.com/questions/14190420/firefox-word-break-breaks-short-words-at-random-points/14191114#14191114 */
    -ms-word-break: break-all;
    -ms-word-wrap: break-all;
    -webkit-word-break: break-word;
    -webkit-word-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
html {
    height: 100%;
    font-size: 16px;
}
body {
    margin: 0;
    min-height: 100vh;
    flex-direction: column;
    background-color: white;
    font-size: 16px;
}
#page-content {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin-top: 100px;
}
#footer {
    flex: 0 0 auto;
    flex-grow: 0;
    background-color: #6388b5;
    font-weight: bold;
}
.underline {
    text-decoration: underline;
}
.emphasis{
    font-style: oblique;
}
.hidden{
    display: none !important;
}
.flex-basis-100 {
    flex-basis: 100%;
}
button.button:not(.bordered) {
    border: 0;
}

button.button:not(.bgc-override):not(.bgc-light-primary):not(.bgc-dark-primary) {
    background: inherit;
}
.bordered {
    border: 1px solid black;
}
.button {
    position: relative;
    padding: 0.5em;
}
.button:not(.inactive) {
    cursor: pointer;
    tabindex: 0;
}
.button:not(.inactive):hover {
    text-decoration: none;
}
.button:not(.square):focus,
.button:not(.square) {
    outline: none;
    border-radius: 10px;
}

.loading::before {
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
    z-index: 100;
}
.loading {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.loading::after {
    box-sizing: border-box;
    position: absolute;
    width: 5em;
    height: 5em;
    display: block;
    content: "";
    z-index: 200;

    border: 1em solid;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


*:not(#filters-search) *:not(.required) > .button:not(.inactive):hover::before,
.required > .button:not(.inactive):hover::after {
    content: " ";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.buttonRow {
    width: 50%;
    width: 50%;
    margin: 0 auto;
    height: 50px;
}
#hide_messageBox_check, #hide_messageBox_check:checked ~ #messageBox{
    display: none;
}
#hide_messageBox_label {
    position: absolute;
    right: 5px;
}
.nobreak {
    display: inline-block;
}
#messageboxPusher{
    min-height: 40px;
}
#hide_messageBox_check:checked ~ #messageboxPusher{
    min-height: 0;
}
#messageBox > .content{
    display: block;
    float: left;
    width: 100%;
}
#messageBox {
    padding: 10px;
    text-align: center;
    position: absolute;
    z-index: 40;
    width: 90%;
    overflow: hidden;
    margin: 0 auto;
    left: 0;
    right: 0;
    cursor: pointer;
}
div.tag {
    display: block;
}
.centered {
    text-align: center;
}
.noJavaScript .noJavaScript-noOffset {
    margin-left: 0;
}
html:not(.noJavaScript) .noJavaScript-only {
    display: none!important;
}
.noJavaScript .noJavaScript-hidden {
    display: none!important;
}
.strongly-rounded {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.square {
    min-width: 1em;
    height: 1em;
    font-size: 5em;
    text-align: center;
    line-height: 1em;
    display: block;
    float: left;
}
.screen {
    width: 100%;
    margin: 0;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.screen h1 {
    margin: 0;
    text-align: center;
}

.caps {
    text-transform: uppercase;
}

.expand-label:not(.no-caps) {
    text-transform: uppercase;
}
.expand-label {
    margin: 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.screen .page_title {
    margin: 10px auto 40px;
    font-size: 40px;
    transform: scaleX(0.9);
    text-transform: uppercase;
}
.submit-button {
    margin-top: 1rem;
}
.expand-label:not(.no-icon)::after,
.expand-check:checked + .expand-label.reverse-icons:not(.no-icon)::after,
.expand-check:checked + .expand-label + .expand-label.reverse-icons:not(.no-icon)::after {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 1.2em;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\25B6";
    display: flex;
    align-items: center;
    text-decoration: none!important;
    position: absolute;
    right: 10px;
    top: 10px;
}

.expand-label.reverse-icons:not(.no-icon)::after,
.expand-check:checked + .expand-label:not(.no-icon)::after,
.expand-check:checked + .expand-label + .expand-label:not(.no-icon)::after {
    content: "\25BC";
}
.expand {
    font-size: 0.9em;
}
.expand div {
  /*  margin: 10px; */
}

.expand:not(.border-square) {
    border-radius: 15px;
}

.expand-check:checked + .hideable,
.expand-check:checked + .expand-label + .hideable,
.expand-check:not(:checked) + .expand,
.expand-check:not(:checked) + .hideable + .expand,
.expand-check:not(:checked) + .hideable + .expand-label + .expand,
.expand-check:not(:checked) + .hideable + .expand-label + .expand-label + .expand,
.expand-check:not(:checked) + .expand-label + .expand-label + .hideable + .expand,
.expand-check:not(:checked) + .expand-label + .hideable + .expand,
.expand-check:checked + .expand-label + .hideable,
.expand-check:checked + .expand-label + .expand-label + .hideable{
    display: none;
}
.expand-check:not(:checked) + .expandable,
.expand-check:not(:checked) + .expand-label + .expand,
.expand-check:not(:checked) + .expand-label + .expand-label + .expand {
    display: none!important;
}
.expandable {
    border-bottom: 2px solid white;
    width: 100%;
}
.expandable > .expand-check:checked + .expand-label,
.expandable > .expand-check:checked + .expand-label + .expand-label {
    /* border-bottom: 1px solid white; */
}
.delete-check:checked + .delete-label,
.delete-check:checked + .delete-label + .delete-label {
    display: none;
}
.delete-label + .expand > button {
    color: inherit;
}
.button-label {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
}
.autosized {
    flex: 1 1 0;
}
.autosize > * {
    flex: 1 1 0;
}
.full-width {
    width: 100%;
}
.tab-container > .tab {
    justify-content: center;
}
.height-10 {
    height: 10em;
    overflow-y: auto;
}
.limited-20 {
    max-height: 20em;
    overflow-y: auto;
}

.limited-45 {
    max-height: 45em;
    overflow-y: auto;
}
.vertically-centered {
    display: flex;
    align-items: center;
}
.message {
    width: 100%;
    height: 5em;
    padding: 0.5em;
    align-items: center;
    font-weight: normal;
    font-size: 0.8em;
    text-align: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 15px;
    flex-flow: row wrap;
    position: relative;
}
input:not(.display-tooltip) + .ttip,
.validatable-input-label > div:not(.invalid) > .error {
    display: none;
}
.validatable-input-label > div {
    flex-wrap: wrap;
}

.mouseover:not(:hover) .mouseover-msg {
    display: none;
}
.mouseover::after {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 1.5em;
    vertical-align: super;
}
#articles .article .mouseover.tip::after {
    color:white;
}

#articles .article .mouseover-msg { right: unset; }

.mouseover.tip::after {
    content: "\f05a";
}
.mouseover.tip-right {
    float: right;
}
.mouseover.error::after {
    content: "\f057";
}
.mouseover-msg {
    position: absolute;
    right: 0;
    bottom: 100%;
    background: white;
    padding: 0.5em;
    margin: 0;
    z-index: 20;
    border: 1px solid;
    font-size: 14px;
}
.mouseover-msg span { font-size: 14px; }
.mouseover.mouseover-below .mouseover-msg {
    bottom: auto;
    text-align: left;
    line-height: 1.5em;
    font-size: 14px;
}
.mouseover-below {
    top: 100%;
}
.mouse_overs {
    /*position: absolute;*/
    right: 0;
}
.validatable-input-label .mouse_overs {
    min-width: 3.4em;
}
.message::after {
    content: "\f05a";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 2em;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}
.error.message::after {
    content: "\f057";
}
.error > p:first-child {
    padding-left: 0.5em;
}
.message > p {
    width: 100%;
    margin: 0;
}
.message:hover {
    z-index: 10;
}
.invalid > input {
    color: inherit;
}
.validatable-input-label {
    padding: 0;
    margin-bottom: 1.5em;
}
.inherit_font_size {
    font-size: inherit;
}
.small > p,
.small > p > span {
    font-size: inherit;
}
.small {
    font-size: 0.75em;
}
.foreground {
    z-index: 10;
}
.fixed {
    position: fixed;
    top: 50%;
}
.nomargin {
    margin: 0;
}
.padded {
    padding: 0.25em;
}

button {
    color: inherit;
}
.hidden-button {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
}
.hidden-button-container {
    position: relative;
}

div.optionlist-container button.list-button {
    border-radius: 0px;
    border-bottom: 1px solid grey;
}
div.optionlist-container button.list-button.active {
    background-color: #4c7f9e;
}


.icon-container {
    background: inherit;
    right: 0;
    display: flex;
    top: 50%;
}
.social-media {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.IN-widget {
    height: 20px;
}
.social-media > * {
    /*margin-right: 1em;*/
    margin-left: 1em!important;
}
.fixed.up {
    right: 0;
    z-index: 100;
    background: rgba(255, 255, 255, 0.75);
    text-align: center;
    color: black;
}
.fixed.up.hidden {
    visibility: hidden;
}
.fixed.up a {
    color: inherit;
    width: 100%;
    display: block;
}

.toggles_button_text:checked + label + button .button_text.toggle_off,
.toggles_button_text:not(:checked) + label + button .button_text.toggle_on,
.toggles_button_text:checked + label .button_text.toggle_off,
.toggles_button_text:not(:checked) + label .button_text.toggle_on {
    display: none;
}

/* fix buttons hover grey background */
*:not(.required) > .button:not(.inactive):not(.square):not(.rechtsgebied-top):not(.rechtsgebied-sub):hover::before,
.required > .button:not(.inactive):not(.square):not(.rechtsgebied-sub):hover::after {
	border-radius: 10px;
}

#right-buttons .button::before {
    border-radius: 0;
}

button.button.rechtsgebied-top:focus { border-radius: 0; }
button.button.rechtsgebied-sub:focus { border-radius: 0; }

#page-title-container {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.arrow {
    height: 100%;
    padding: 0 5px;
}

.lh-high { line-height: 36px; }
.lh-1 { line-height: 1em; }
.lh-2 { line-height: 2em; }
.text-align-center { text-align: center; }

/* profile create - steps */
span.step-icon {
    display: inline-block;
    background-color: #4c7f9e;
    border-radius: 50%;
    padding: 10px 17px;
    color: white;
}
.step-text { line-height: 2.5em; }
div.step.hide { display: none; }

select#select_profile { margin-left: 10px; }
select#select_profile,
#isFeed_select {
    padding: 4px 40px 4px 10px;
    border: 1px solid #4c7f9e;
    -webkit-appearance: none;
      -moz-appearance: none;
      background: transparent;
      background-image: url("data:image/svg+xml;utf8,<svg fill='%23ffffff' height='28' viewBox='0 0 30 30' width='30' xmlns='http://www.w3.org/2000/svg'><path d='M0 0h30v30H0z' fill='%234c7f9e'/><path d='M10 12 l6 -6 6 6z' fill='white'/><path d='M10 18 l6 6 6-6z' fill='white'/></svg>");
      background-repeat: no-repeat;
      background-position-x: 101%;
      background-position-y: 0px;
    line-height: 20px;
}

#filters-search { margin-top: 1.5em; }
#filters-search button span { padding-left: 15px; text-align: left; }
#filters-search button.expand-label,
#filters-search button.expand-label span { color: white !important; }

#filters-search .item-check + .item-label,
#filters-search .item-check + .item-label + .item-label {
     background-image: url('../img/IconImages/empty-checkbox-icon.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 15px;
    width: 100%;
    padding-left: 1em;
}

#filters-search .item-check + .item-label:before,
#filters-search .item-check + .item-label + .item-label:before {
    background-image: url('../img/IconImages/empty-checkbox-icon.png');
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: left center;
    float: left;
    position: relative;
    left: -1em;
}

#filters-search *:not(.required) *:not(.expand-label) > .button:not(.inactive):hover::after {
    content: " ";
    position: absolute;
    height: 100%;
    width: 85%;
    top: 0;
    left: 15%;
    z-index: 10000;
}

.legal-grazer-page #filters-search .item-check:checked + .item-label + .item-label {
    background-color: transparent !important;
    background-image: url('../img/IconImages/filled-checkbox-icon.png') !important;
}
.legal-grazer-page #filters-search .item-check:checked + .item-label,
.legal-grazer-page #filters-search .item-check:checked + .item-label + .item-label:before {
    background-image: url('../img/IconImages/filled-checkbox-icon.png') !important;
}


#about-main-photo {
    background-image: url('../img/about-1.png');
    background-repeat: no-repeat;
    background-position: center 10%;
    background-size: 100% auto;
    max-height: 450px;
    width: 100%;
    color: white;
    margin-bottom: 1.5em;
}

#about-main-photo-text {
    height: 100%;
    box-sizing: border-box;
    padding-top: 30%;
}
#about-main-photo-slogan {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
#about-main-photo-title {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 1em;
}
a#about-register-circle {
    padding: 40px 10px;
    background-color: #94c130;
    color: black;
    border-radius: 50%;
    float: right;
    font-weight: bold;
    font-size: 15px;
}
a#about-register-circle:hover { text-decoration: none; }