#pageContent,
.centered {
    margin: 0 auto;
    width: 50%;
}
#something > label,
#something > textarea,
#something > input:not([type='checkbox']) {
    width: 50%;
    float: left;
    margin-bottom: .5em;
}
div.serede {
    margin: 1em 0;
    border-bottom: 1px solid;
}
.serede > .selector > textarea {
    min-height: 5em;
}
.serede > div,
.button > div,
#pageContent > div {
    overflow: auto;
    margin: 0.5em 0;
}
.serede > div > *:not([type='checkbox']),
.button > div > *:not([type='checkbox']),
#search > *:not([type='checkbox']),
#js > *:not([type='checkbox']),
#nav > *:not([type='checkbox']) {
    width: 50%;
    float: left;
}
#saveButton {
    float: left;
}
#deleteButton {
    float: right;
}
.button {
    border-bottom: 1px solid;
}
.divHider + label + div {
    display: none;
}
.divHider:checked + label + div {
    display: block;
}
.divHider + label:before {
    content: "Enable ";
}
.divHider:checked + label:before {
    content: "Disable ";
}
label.button{
    display: block;
}
.divHider + label {
    border-bottom: 0;
}
.divHider + label:last-of-type,
.divHider:checked + label {
    border-bottom: 1px solid;
}
.clickable {
    cursor: pointer;
}
.link {
     margin-bottom: 10px;
 }