.item-list {
    margin: 3em 0;
    overflow-y: auto;
    height: 20em;
    resize: vertical;
}
.item-list .item {
    margin-bottom: 0.5em;
    margin-left: 1px;
    display: flex;
    justify-content: center;
}
.bordered.flex {
    flex-direction: column;
}
.item > label.grower {
    max-width: 100%;
    flex-grow: 1;
    text-align: center;
}
form > input[type="file"] {
    display: inline;
}
input.db-filter-disabled-hide ~ div label.db-filter-disabled-hide::before,
input.db-filter-disabled-hide ~ div label.db-filter-disabled-hide::after,
input.db-filter-defective-hide ~ div label.db-filter-defective-hide::before,
input.db-filter-defective-hide ~ div label.db-filter-defective-hide::after,
input.db-filter-enabled-hide ~ div label.db-filter-enabled-hide::before,
input.db-filter-enabled-hide ~ div label.db-filter-enabled-hide::after {
    display: inline-block;
}
input.db-filter-disabled-hide ~ div label.db-filter-disabled-hide::before,
input.db-filter-defective-hide ~ div label.db-filter-defective-hide::before,
input.db-filter-enabled-hide ~ div label.db-filter-enabled-hide::before {
    margin-right: 0.5em;
}
input.db-filter-disabled-hide ~ div label.db-filter-disabled-hide::after,
input.db-filter-defective-hide ~ div label.db-filter-defective-hide::after,
input.db-filter-enabled-hide ~ div label.db-filter-enabled-hide::after {
    margin-left: 0.5em;
}
input.db-filter-disabled-hide:checked ~ .item-list.display-filterable > .hidden-button-container > .db-disabled,
input.db-filter-defective-hide:checked ~ .item-list.display-filterable > .hidden-button-container > .db-defective,
input.db-filter-enabled-hide:checked ~ .item-list.display-filterable > .hidden-button-container > .db-enabled {
    display: none;
}

input.db-filter-defective-hide:not(:checked) ~ div label.db-filter-defective-hide > .show-on-check,
input.db-filter-disabled-hide:not(:checked) ~ div label.db-filter-disabled-hide > .show-on-check,
input.db-filter-enabled-hide:not(:checked) ~ div label.db-filter-enabled-hide > .show-on-check {
    display: none;
}
.item-list.display-filterable .db-disabled > .toggle > i::before {
    content: "\f205";
}
.item-list.display-filterable *:not(.db-disabled) > .toggle > i::before {
    content: "\f204";
}
.db-unhealthy {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.db-unhealthy::before {
    content: "\f024";
}