h3 {
    margin: 0
}
.lg-square {
    color: white;
    background: #94c130;
    text-transform: capitalize;
    webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 1em;
    height: 1em;
    font-size: 5em;
    text-align: center;
    line-height: 1em;
    margin-right: 0.2em;
}
.weeklyMailArticle{
    background-color: #4c7f9e;
    width: 350px;
    height: 350px
}
#profile-select-form > label,
#profile-select-form > #profiles > label {
    border-bottom: 1px solid;
    border-color: inherit;
    padding: 1em;
    margin: 0;
}
#profile-select-form > #profiles > label:last-of-type {
    border-bottom: 0;
}
#profile-select-form {
    border-color: #CECECE;
    overflow: hidden;
}
#profiles > .profile > label.expand-label {
    font-size: 2em;
}
#profiles > .profile > label {
    display: flex;
    align-items: center;
    justify-content: center;
}
#profiles > .profile {
    display: flex;
    flex-wrap: wrap;
}

#profiles > .profile > button {
    min-height: 4em;
}
#profiles > div {
    border-bottom: 1px solid black;
    min-height: 2.75em;
    margin: 0;
}
#profiles {
    max-height: 17em;
    overflow-y: auto;
    width: 100%;
}
#display-profiles:checked ~ #profiles > div:not(.selected) {
    display: none;
}
.screen.p-0 {
    padding: 0
}
.selectedContainer:last-of-type > .selected-label {
    border-width: 0;
}

.selected-label:not(.no-icon)::after,
.autocomplete-option:not(.no-icon)::after {
    color: #94cd22;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 1.4rem;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f055";
    display: flex;
    align-items: center;
}

.selected .selected-label:not(.no-icon)::after {
    content: "\f056";
    background: inherit;
}
.autocomplete-option {
    display: block;
}
.autocomplete > * {
    border: 0;
}
.autocomplete {
    border: 1px solid black;
    width: 100%;
}
.autocomplete-input-container > label {
    border: 1px solid #CECECE;
}
.item-input {
    padding: 0.4em;
}
.expand > div:last-child {
    padding: 10px;
    border-radius: 15px;
}
.save-settings:first-of-type > label {
    margin-top: 0.4em;
}
.description-container > p {
    width: 100%;
    text-align: center;
}

.filterable .nieuwszender {
    width: 100%;
    display: inline-block;
    font-size: 0.8em;
}

.filterable .nieuwszender > span {
    font-size: inherit;
}

.selected-label:not(.no-icon)::after,
.autocomplete-option:not(.no-icon)::after {
    position: absolute;
    right: 0;
    top: 33%;
}
.delete-label > span {
    padding: 0;
}
