input {
    padding: 5px;
    color: black;
}

.disabled > input {
    background-color: #525252;
    color: white;
    border: 0;
    text-align: right;
}

.error {
    /*padding-left: 1em;*/
    font-weight: normal;
}

/*.error > p {*/
    /*padding: 0;*/
    /*margin: 0;*/
/*}*/

.validatable > div > label:last-of-type {
    margin: 0;
}